###L5 Updated acf V0.9
###Started by Flight Passage 8/14/14
### No Autopilot

[SETUP]
 ## Section [SLOW] is setup for 15 sec time interval
SLOW_INTERVAL = 15.0

[OVERRIDE]

 ## Main control
sim/operation/override/override_joystick = 10
sim/operation/override/override_throttles = 10

[TRIGGERS]
##sim/cockpit/engine/ignition_on = 0
sim/cockpit2/engine/ignition_on = 0
sim/cockpit2/engine/ignition_key = 0
sim/cockpit2/switches/custom_slider_on[0] = 0
sim/cockpit2/switches/custom_slider_on[1] = 0
sim/cockpit2/guages/actuators/barometer_setting_in_hg_pilot = 0
sim/cockpit2/controls/parking_brake_ratio = 0

##Electric
sim/cockpit2/electrical/battery_on = 0
#sim/cockpit/electrical/battery_on = 0

##Fluids
sim/cockpit2/engine/actuators/primer_ratio = 0
sim/cockpit2/fuel/fuel_tank_selector = 0
sim/cockpit2/engine/actuators/micture_ratio[0] = 0
##^This might could be better in send back?

##Icing-Lights
sim/cockpit2/engine/actuators/carb_heat_ratio = 0
sim/cockpit2/switches/navigation_lights_on = 0
#sim/cockpit/electrical/strobe_lights_on = 0
sim/cockpit2/switches/strobe_lights_on = 0

##Flaps-Trim
sim/cockpit2/controls/flap_ratio = 0
sim/cockpit2/controls/rudder_trim = 0
sim/cockpit2/controls/aileron_trim = 0
sim/cockpit2/controls/elevator_trim = 0

##Radio-Transponder
sim/cockpit2/radios/actuators/com1_frequency_hz = 0
##I noticed on 119.830 vs 119.835, there might be a issue no difference in that data ref
sim/cockpit2/radios/actuators/nav1_frequency_hz = 0
sim/cockpit2/radios/actuators/transponder_mode = 0
sim/cockpit2/radios/actuators/transponder_code = 0
sim/cockpit2/radios/indicators/transponder_id = 0


[STRINGS]

[OVERRIDE}

[SEND BACK]
sim/joystick/yoke_pitch_ratio = 0
sim/joystick/yoke_roll_ratio = 0
sim/joystick/yoke_heading_ratio = 0
sim/cockpit2/engine/actuators/throttle_ratio_all = 0
##sim/flightmodel2/engines/throttle_used_ratio = 0
sim/cockpit2/engine/actuators/mixture_ratio_all = 0
sim/cockpit2/controls/left_brake_ratio = 0
sim/cockpi2/controls/right_brake_ratio = 0

[SLOW]

##WEATHER
sim/weather/cloud_type[0]_FIXED_INDEX_ = 0
sim/weather/cloud_type[1]_FIXED_INDEX_ = 0
sim/weather/cloud_type[2]_FIXED_INDEX_ = 0
sim/weather/cloud_coverage[0]_FIXED_INDEX_ = 0
sim/weather/cloud_coverage[1]_FIXED_INDEX_ = 0
sim/weather/cloud_coverage[2]_FIXED_INDEX_ = 0
sim/weather/cloud_base_msl_m[0]_FIXED_INDEX_ = 0
sim/weather/cloud_base_msl_m[1]_FIXED_INDEX_ = 0
sim/weather/cloud_base_msl_m[2]_FIXED_INDEX_ = 0
sim/weather/cloud_tops_msl_m[0]_FIXED_INDEX_ = 0
sim/weather/cloud_tops_msl_m[1]_FIXED_INDEX_ = 0
sim/weather/cloud_tops_msl_m[2]_FIXED_INDEX_ = 0
sim/weather/visibility_reported_m = 0
sim/weather/rain_percent = 0
sim/weather/thunderstorm_percent = 0
sim/weather/wind_turbulence_percent = 0
sim/weather/barometer_sealevel_inhg = 0
sim/weather/wind_altitude_msl_m[0]_FIXED_INDEX_ = 0
sim/weather/wind_altitude_msl_m[1]_FIXED_INDEX_ = 0
sim/weather/wind_altitude_msl_m[2]_FIXED_INDEX_ = 0
sim/weather/wind_direction_degt[0]_FIXED_INDEX_ = 0
sim/weather/wind_direction_degt[1]_FIXED_INDEX_ = 0
sim/weather/wind_direction_degt[2]_FIXED_INDEX_ = 0
sim/weather/wind_speed_kt[0]_FIXED_INDEX_ = 0
sim/weather/wind_speed_kt[1]_FIXED_INDEX_ = 0
sim/weather/wind_speed_kt[2]_FIXED_INDEX_ = 0
sim/weather/shear_direction_degt[0]_FIXED_INDEX_ = 0
sim/weather/shear_direction_degt[1]_FIXED_INDEX_ = 0
sim/weather/shear_direction_degt[2]_FIXED_INDEX_ = 0
sim/weather/shear_speed_kt[0]_FIXED_INDEX_ = 0
sim/weather/shear_speed_kt[1]_FIXED_INDEX_ = 0
sim/weather/shear_speed_kt[2]_FIXED_INDEX_ = 0
sim/weather/turbulence[0]_FIXED_INDEX_ = 0
sim/weather/turbulence[1]_FIXED_INDEX_ = 0
sim/weather/turbulence[2]_FIXED_INDEX_ = 0
sim/weather/temperature_sealevel_c = 0
sim/weather/dewpoi_sealevel_c = 0
sim/weather/thermal_percent = 0
sim/weather/thermal_rate_ms = 0
sim/weather/thermal_altitude_msl_m = 0
sim/weather/runway_friction = 0


[COMMANDS]
#######May not be required - added by CS - Test later
############ sim/autopilot/servos_toggle = 0
sim/autopilot/nose_down_pitch_mode = 0
sim/autopilot/nose_up_pitch_mode = 0
sim/starters/engage_starter_1 = 0