##C206 Station 10.30Beta in
##V0.91 Beta
##Flight Passage 9/9/2014

[SETUP]
 ## Section [SLOW] is setup for 15 sec time interval
SLOW_INTERVAL = 15.0

[OVERRIDE]

 ## Main control
sim/operation/override/override_joystick = 10
sim/operation/override/override_throttles = 10
sim/cockpit2/fuel/fuel_tank_selector = 1

[TRIGGERS]
##Fuel Testing
com/dkmp/FuelSelL = 0
com/dkmp/FuelSelR = 0
com/dkmp/FuelSwL = 0

##Engine
sim/cockpit2/engine/actuators/ignition_key[0] = 0
sim/cockpit2/engine/actuators/fuel_pump_on[0] = 0
##Electrical
sim/cockpit2/electrical/battery_on[0] = 0
sim/cockpit2/electrical/generator_on[0] = 0
sim/cockpit2/engine/actuators/mixture_ratio[0] = 0

##Lights
sim/cockpit2/switches/beacon_on = 0
sim/cockpit2/switches/landing_lights_on = 0
sim/cockpit2/switches/taxi_light_on = 0
sim/cockpit2/switches/navigation_on = 0
sim/cockpit2/switches/strobe_lights_on = 0
sim/cockpit2/electrical/instrument_brightness[0] = 0
sim/cockpit2/switches/navigation_lights_on = 0
sim/cockpit2/switches/alternate_static_air_ratio = 0
##Radios^
sim/cockpit2/electrical/instrument_brightness[1] = 0 
sim/cockpit2/switches/generic_lights_switch[11] = 0
sim/cockpit2/switches/generic_lights_switch[12] = 0
sim/cockpit2/switches/generic_lights_switch[13] = 0
sim/cockpit2/switches/generic_lights_switch[14] = 0
sim/cockpit2/switches/generic_lights_switch[20] = 0
sim/cockpit2/switches/generic_lights_switch[15] = 0
sim/cockpit2/switches/generic_lights_switch[16] = 0	
sim/cockpit2/switches/generic_lights_switch[18] = 0

##Flight Control
sim/cockpit2/switches/parking_brake_ratio = 0
sim/cockpit2/switches/speedbrake_ratio = 0
sim/cockpit2/ice/ice_pitot_heat_on_pilot = 0
sim/cockpit2/switches/avionics_power_on = 0
sim/cockpit2/controls/flap_ratio = 0
sim/cockpit2/ice/ice_window_heat_on = 0


##Radio Panels
sim/cockpit2/radios/actuators/HSI_source_select_pilot = 0
sim/cockpit2/radios/actuators/adf1_standby_frequency_hz = 0
sim/cockpit2/radios/actuators/adf1_power = 0
sim/cockpit2/radios/actuators/adf1_standby_frequency_hz = 0
sim/cockpit2/radios/actuators/com2_standby_frequency_hz = 0
sim/cockpit2/radios/actuators/com1_standby_frequency_hz = 0
sim/cockpit2/radios/actuators/com1_freq_hz = 0
sim/cockpit2/radios/actuators/com2_freq_hz = 0
sim/cockpit2/radios/actuators/nav2_standby_frequency_hz = 0
sim/cockpit2/radios/actuators/nav1_standby_frequency_hz = 0
sim/cockpit2/radios/actuators/nav2_freq_hz = 0
sim/cockpit2/radios/actuators/nav1_freq_hz = 0
sim/cockpit2/radios/actuators/com2_power = 0
sim/cockpit2/radios/actuators/nav2_power = 0
sim/cockpit2/switches/generic_lights_switch[40] = 0	
sim/cockpit2/switches/generic_lights_switch[41] = 0	
sim/cockpit2/radios/actuators/audio_marker_enabled = 0
sim/cockpit2/radios/actuators/audio_selection_adf1 = 0
sim/cockpit2/radios/actuators/audio_dme_enabled = 0
sim/cockpit2/radios/actuators/audio_selection_nav2 = 0
sim/cockpit2/radios/actuators/audio_selection_nav1 = 0
sim/cockpit2/radios/actuators/audio_selection_com2 = 0
sim/cockpit2/radios/actuators/audio_selection_com1 = 0
sim/cockpit/radios/transponder_mode = 0
sim/cockpit2/radios/actuators/transponder_code = 0
sim/cockpit2/radios/actuators/transponder_id = 0

##FC Panels-cpt2 test-LtR T-B rows
sim/cockpit2/clock_timer/timer_mode = 0
sim/cockpit2/clock_timer/timer_running = 0
sim/instruments/timer_reset = 0
sim/operation/time_down = 0
sim/operation/time_up = 0
sim/cockpit2/gauges/actuators/artifical_horizon_deg_pilot = 0
sim/cockpit2/gauges/actuators/barometer_setting_in_hg_pilot = 0
##sim/cockpit2/gauges/indicators/roll_vacuum_deg_pilot = 0
sim/cockpit/radios/nav1_obs_degm = 0
sim/cockpit2/radios/indicators/nav1_relative_heading_vaccum_deg_pilot = 0
sim/cockpit/radios/nav2_obs_degm = 0
sim/cockpit/radios/adf1_cardinal_dir = 0


##Auto-Pilot
sim/cockpit/autopilot/heading_mag = 0
sim/systems/yaw_damper_toggle = 0
sim/cockpit2/autopilot/flight_director_mode = 0
sim/cockpit2/heading_status = 0
sim/cockpit2/heading_mode = 0
sim/cockpit2/nav_status = 0
sim/cockpit2/approach_status = 0
sim/cockpit2/autopilot/glideslope_status = 0
#sim/cockpit2/autopilot/glideslope_armed = 0
sim/cockpit2/backcourse_on = 0
#sim/cockpit2/backcourse_stats = 0
sim/cockpit2/autopilot/altitude_mode = 0
#sim/cockpit2/autopilot/altitude_hold_status = 0
sim/cockpit2/autopilot/altitude_hold_status = 0
sim/cockpit2/autopilot/flight_director_pitch_deg = 0
sim/cockpit2/autopilot_dial_ft = 0
sim/cockpit2/alt_vvi_is_showing_vvi = 0
##Trim
sim/cockpit2/controls/elevator_trim = 0
sim/cockpit2/controls/aileron_trim = 0
sim/cockpit2/controls/rudder_trim = 0
sim/cockpit2/radios/indicators/outer_marker_lit = 0
sim/cockpit2/radios/indicators/middle_marker_lit = 0
sim/cockpit2/radios/indicators/inner_marker_lit = 0
sim/cockpit2/radios/indicators/over_outer_marker = 0
sim/cockpit2/radios/indicators/over_middle_marker = 0
sim/cockpit2/radios/indicators/over_inner_marker = 0
sim/cockpit2/engine/actuators/prop_rotation_speed_rad_sec_all = 0
##find fuel writable

##Attempt at GPS/Light Position (for 530)
sim/cockpit/g430/g430_nav_com_sel[1] = 0
sim/radios/com2_standy_flip = 0
sim/radios/nav2_standy_flip = 0
sim/radios/com1_standy_flip = 0
sim/radios/nav1_standy_flip = 0
sim/cockpit2/radios/actuators/audio_marker_enabled = 0


##Doors and Visor
com/dkmp/WindowRight = 0
com/dkmp/PilotDoor = 0
com/dkmp/WindowLeft = 0
com/dkmp/WindowRefl = 0
com/dkmp/static = 0
com/dkmp/WindowLeft = 0
com/dkmp/BaggageDoor = 0
com/dkmp/WindowRefl = 0
com/dkmp/PassengerDoor = 0
com/dkmp/VisorSwingL = 0
com/dkmp/VisorL = 0
com/dkmp/VisorSwingR = 0
com/dkmp/VisorR = 0
com/dkmp/instrefl = 0

com/dkmp/windowrefl = 0

com/dkmp/fairings = 0
com/dkmp/IntLtx[10]_FIXED_INDEX_ = 0
com/dkmp/IntLty[10]_FIXED_INDEX_ = 0
com/dkmp/IntLtx[11]_FIXED_INDEX_ = 0
com/dkmp/IntLty[11]_FIXED_INDEX_ = 0
com/dkmp/IntLtx[12]_FIXED_INDEX_ = 0
com/dkmp/IntLty[12]_FIXED_INDEX_ = 0
com/dkmp/IntLtx[13]_FIXED_INDEX_ = 0
com/dkmp/IntLty[13]_FIXED_INDEX_ = 0
com/dkmp/IntLtx[14]_FIXED_INDEX_ = 0
com/dkmp/IntLty[14]_FIXED_INDEX_ = 0
com/dkmp/IntLtx[15]_FIXED_INDEX_ = 0
com/dkmp/IntLty[15]_FIXED_INDEX_ = 0
com/dkmp/IntLtx[16]_FIXED_INDEX_ = 0
com/dkmp/IntLty[16]_FIXED_INDEX_ = 0
com/dkmp/IntLtx[17]_FIXED_INDEX_ = 0
com/dkmp/IntLty[17]_FIXED_INDEX_ = 0
com/dkmp/IntLtx[18]_FIXED_INDEX_ = 0
com/dkmp/IntLty[18]_FIXED_INDEX_ = 0
com/dkmp/IntLtx[19]_FIXED_INDEX_ = 0
com/dkmp/IntLty[19]_FIXED_INDEX_ = 0
com/dkmp/IntLtx[20]_FIXED_INDEX_ = 0
com/dkmp/IntLty[20]_FIXED_INDEX_ = 0
sim/cockpit2/engine/actuators/cowl_flap_ratio[0] = 0
sim/cockpit2/switches/anti_ice_window_heat = 0
######FIND 	SLIDERS FOR AIR

##Magic Zone
com/dkmp/ASIAdjust = 0
com/dkmp/G530Toggle = 0
com/dkmp/Hobbs = 0
com/dkmp/DomeLight = 0
com/dkmp/AL[17]_FIXED_INDEX_ = 0
com/dkmp/AL[16]_FIXED_INDEX_ = 0
com/dkmp/AL[15]_FIXED_INDEX_ = 0
com/dkmp/AL[14]_FIXED_INDEX_ = 0
com/dkmp/AL[12]_FIXED_INDEX_ = 0
com/dkmp/AL[11]_FIXED_INDEX_ = 0
com/dkmp/AL[10]_FIXED_INDEX_ = 0
com/dkmp/AL[9]_FIXED_INDEX_ = 0
com/dkmp/AL[8]_FIXED_INDEX_ = 0
com/dkmp/AL[7]_FIXED_INDEX_ = 0
com/dkmp/AL[6]_FIXED_INDEX_ = 0
com/dkmp/AL[5]_FIXED_INDEX_ = 0
com/dkmp/AL[4]_FIXED_INDEX_ = 0
com/dkmp/AL[3]_FIXED_INDEX_ = 0
com/dkmp/AL[2]_FIXED_INDEX_ = 0
com/dkmp/AL[1]_FIXED_INDEX_ = 0
sim/flightmodel/engine/ENGN_cowl[0] = 0
sim/flightmodel/engine/ENGN_cowl[1] = 0
com/dkmp/strobe[2] = 0
com/dkmp/strobe[1] = 0

[SEND_BACK]
sim/joystick/yoke_pitch_ratio = 0
sim/joystick/yoke_roll_ratio = 0
sim/joystick/yoke_heading_ratio = 0
sim/cockpit2/controls/parking_brake_ratio = 0
sim/cockpit2/engine/actuators/throttle_ratio[0] = 0
sim/flightmodel/controls/l_brake_add = 0
sim/flightmodel/controls/r_brake_add = 0
sim/cockpit/radios/gps_hdef_dot = 0
com/dkmp/FuelL = 0
com/dkmp/FuelR = 0

[STRINGS]

[SLOW]

##WEATHER
sim/weather/cloud_type[0]_FIXED_INDEX_ = 0
sim/weather/cloud_type[1]_FIXED_INDEX_ = 0
sim/weather/cloud_type[2]_FIXED_INDEX_ = 0
sim/weather/cloud_coverage[0]_FIXED_INDEX_ = 0
sim/weather/cloud_coverage[1]_FIXED_INDEX_ = 0
sim/weather/cloud_coverage[2]_FIXED_INDEX_ = 0
sim/weather/cloud_base_msl_m[0]_FIXED_INDEX_ = 0
sim/weather/cloud_base_msl_m[1]_FIXED_INDEX_ = 0
sim/weather/cloud_base_msl_m[2]_FIXED_INDEX_ = 0
sim/weather/cloud_tops_msl_m[0]_FIXED_INDEX_ = 0
sim/weather/cloud_tops_msl_m[1]_FIXED_INDEX_ = 0
sim/weather/cloud_tops_msl_m[2]_FIXED_INDEX_ = 0
sim/weather/visibility_reported_m = 0
sim/weather/rain_percent = 0
sim/weather/thunderstorm_percent = 0
sim/weather/wind_turbulence_percent = 0
sim/weather/barometer_sealevel_inhg = 0
sim/weather/wind_altitude_msl_m[0]_FIXED_INDEX_ = 0
sim/weather/wind_altitude_msl_m[1]_FIXED_INDEX_ = 0
sim/weather/wind_altitude_msl_m[2]_FIXED_INDEX_ = 0
sim/weather/wind_direction_degt[0]_FIXED_INDEX_ = 0
sim/weather/wind_direction_degt[1]_FIXED_INDEX_ = 0
sim/weather/wind_direction_degt[2]_FIXED_INDEX_ = 0
sim/weather/wind_speed_kt[0]_FIXED_INDEX_ = 0
sim/weather/wind_speed_kt[1]_FIXED_INDEX_ = 0
sim/weather/wind_speed_kt[2]_FIXED_INDEX_ = 0
sim/weather/shear_direction_degt[0]_FIXED_INDEX_ = 0
sim/weather/shear_direction_degt[1]_FIXED_INDEX_ = 0
sim/weather/shear_direction_degt[2]_FIXED_INDEX_ = 0
sim/weather/shear_speed_kt[0]_FIXED_INDEX_ = 0
sim/weather/shear_speed_kt[1]_FIXED_INDEX_ = 0
sim/weather/shear_speed_kt[2]_FIXED_INDEX_ = 0
sim/weather/turbulence[0]_FIXED_INDEX_ = 0
sim/weather/turbulence[1]_FIXED_INDEX_ = 0
sim/weather/turbulence[2]_FIXED_INDEX_ = 0
sim/weather/temperature_sealevel_c = 0
sim/weather/dewpoi_sealevel_c = 0
sim/weather/thermal_percent = 0
sim/weather/thermal_rate_ms = 0
sim/weather/thermal_altitude_msl_m = 0
sim/weather/runway_friction = 0


[COMMANDS]
